.dialogs {
	display: grid;
	grid-template-columns: 2fr 10fr;
}

.dialog {
	padding: 5px;
}

.messages {
	padding: 5px;
}

.message {
	padding: 5px;
}

.item {
	padding: 5px;
}

.active {
	color: gold;
}